@use 'variables';

.texts{
    height: 275px;
    box-sizing: border-box;
    padding: 0 35px;
    text-align: center;
}
.texts h1{
    margin-top: 30px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 1.7em;
    font-weight: 700;
    color: variables.$White;
}
.texts h1 span{
    color: variables.$Soft-violet;
}
.texts p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: variables.$Slightly-transparent-white;
}